/*-----------------
resetters
-----------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #eff0f4;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outer-shadow {
  -webkit-box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
          box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

.inner-shadow {
  -webkit-box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
          box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  -webkit-box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
          box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
}

.hover-in-shadow:hover::after {
  -webkit-box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
          box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.hover-in-shadow::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-1 {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 25px;
  color: #fb839e;
  border-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-1::after {
  border-radius: 30px;
}

.section-title {
  max-width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}

.section-title h2::before {
  content: attr(data-heading);
  display: block;
  color: #fb839e;
  font-size: 16px;
  font-weight: 600;
}

/*-----------------
typography
-----------------*/
*:not(i) {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 30px;
  height: 30px;
  right: 10%;
  bottom: 10%;
  border: 4px solid #8a49ff;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.effect-2 {
  left: 3%;
  bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: topBounce 3s ease-in-out infinite;
          animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
  width: 3px;
  height: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
}

.effect-3 {
  width: 180px;
  height: 180px;
  left: 50%;
  top: -120px;
  border: 25px solid #fb839e;
  border-radius: 50%;
  -webkit-animation: leftBounce 3s ease-in-out infinite;
          animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}

.effect-4::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}

.effect-5 {
  width: 50px;
  height: 50px;
  right: 10%;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.effect-5 div {
  width: 1px;
  background-color: #4dd0e1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@-webkit-keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

/*-----------------
header style
-----------------*/
header {
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

header .logo a {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  font-weight: 600;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  color: #fb839e;
  border: 2px solid #fb839e;
  text-transform: uppercase;
}

header .hamburger-btn {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 30%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .hamburger-btn::after {
  border-radius: 30%;
}

header .hamburger-btn span {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #000000;
  position: relative;
}

header .hamburger-btn span::before, header .hamburger-btn span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

header .hamburger-btn span::before {
  top: -6px;
}

header .hamburger-btn span::after {
  top: 6px;
}

/*-----------------
navigation menu
-----------------*/
.nav-menu {
  position: fixed;
  background-color: #eff0f4;
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}

.nav-menu .close-nav-menu {
  width: 40px;
  height: 40px;
  font-size: 35px;
  line-height: 35px;
  right: 15px;
  top: 15px;
  display: block;
  border-radius: 30%;
  position: absolute;
  cursor: pointer;
  text-align: center;
  color: #666666;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-menu .close-nav-menu::after {
  border-radius: 30%;
}

.nav-menu .nav-menu-inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu ul {
  padding: 15px;
}

.nav-menu ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.nav-menu ul li:last-child {
  margin-bottom: 0;
}

.nav-menu ul li a {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: #555555;
  padding: 5px 30px;
  text-transform: capitalize;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-menu ul li a::after {
  border-radius: 30px;
}

.nav-menu ul li a.active {
  color: #fb839e;
}

.nav-menu .copyright-text {
  position: absolute;
  left: -90px;
  top: 50%;
  font-size: 15px;
  color: #666666;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

/*-----------------
home-section
-----------------*/
.home-section {
  position: relative;
}

.home-section .full-screen {
  padding: 50px 0;
  min-height: 100vh;
}

.home-section .home-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home-section .home-text p {
  color: #bbbbbb;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}

.home-section .home-text h2 {
  font-size: 55px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.home-section .home-text h1 {
  font-size: 20px;
  font-weight: 500;
  color: #555555;
  margin: 0;
  text-transform: capitalize;
}

.home-section .home-text .btn-1 {
  margin-top: 30px;
}

.home-section .home-img .img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 20%;
  padding: 20px;
}

.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 20%;
  border: 10px solid transparent;
}

/*-----------------
about-section
-----------------*/
.about-section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.about-section .about-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}

.about-section .about-img .img-box {
  padding: 15px;
  border-radius: 5px;
}

.about-section .about-img .img-box img {
  width: 100%;
  border-radius: 5px;
  border: 10px solid transparent;
}

.about-section .about-img .social-links {
  margin-top: 20px;
  text-align: center;
}

.about-section .about-img .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  color: #666666;
  margin: 0 4px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-section .about-img .social-links a i {
  line-height: 40px;
}

.about-section .about-img .social-links a::after {
  border-radius: 50%;
}

.about-section .about-img .social-links a:hover {
  color: #fb839e;
}

.about-section .about-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15px;
}

.about-section .about-info p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #666666;
}

.about-section .about-info span {
  font-weight: 600;
}

.about-section .about-info .btn-1 {
  margin: 30px 20px 0 0;
}
/*# sourceMappingURL=main.css.map */