@mixin default-size {
  margin: 0;
  padding: 0;
}

@mixin row {
  display: flex;
  flex-wrap: wrap;
}

@mixin max-width($value) {
  max-width: $value;
}

@mixin shadow($value) {
  box-shadow: $value;
}

@mixin align-items($value) {
  align-items: $value;
}

@mixin measurements($property, $value, $property2, $value2) {
  #{$property}: $value;
  #{$property2}: $value2;
}
